.MyWeddingAlbum{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

h2{
    text-align: center;
    color: white;
    margin-top: -850px;
    border: 5px ;
    size: 30px;
    
}

.row-cols-1{
    padding-top: 100px;
}

h3{
color : black !important;
}

.download-btn{
    background-image: linear-gradient(to right,white, rgba(158, 102, 73, 1));
    color: black;
    margin-top:100px;
    margin-bottom: 100px;
}

.Add-btn-small{
    background-image: linear-gradient(to left,white, rgba(158, 102, 73, 1));
    color: black;
    margin-left: 1200px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.card-text{
    color: black;
    text-align: center;
}

.grid-container {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
  }

  