body{
    margin: auto;
    color: black;

}
.container{
    background-color: rgb(0, 0, 0);
}

h1{
    text-align: left;
    color: white;
}

p{
    text-align: left;
    color: rgba(158, 102, 73, 1);
}

.Form-Background{
    margin-top: 10px;
}

.Add-Form{
   margin-left: auto;
   margin-right: auto;
}

.Select-Category{
    margin-top: 230px;
    text-align: left;
    margin-left: -470px;
}

.shadow-0{
    margin-left: 100px;
}

.input{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
}

.Image-Upload{
    margin-left: -700px;
    margin-bottom: 10px;
}

.Add-btn{
    background-image: linear-gradient(to right,white, rgba(158, 102, 73, 1));
    color: black;
    margin-top: 20px;
    margin-bottom: 650px;
}
